.Home {
    background-color: rgb(31, 31, 31);
    width: 100vw;
    height: 100vh;
    color: white;
}

.Home-paint {
    float: left;
    margin-top: 5em;
    margin-left: 5em;
    cursor: crosshair;
}

.Home-intro {
    width: 100vw;
    top: 25vh;
    font-size: 25px;
    width: 50vw;
    float: right;
    margin-right: 4em;
    margin-top: 5em;
    text-align: right;
}

.Home-intro p {
    color: white;
    font-family: 'avenir light', "Arial Black", sans-serif;
}