.Home {
    background-color: rgb(210, 210, 210);
}

.Home-logo1 {
    height: 90vh;
    background-size: 55vh;
    background-position: center;
}

.Home-intro {
    position: absolute;
    left: 20vw;
    top: 25vh;
}

.Home-intro p {
    color: white;
    font-family: 'avenir light', "Arial Black", sans-serif;
}